*{
  font-family: Helvetica, Arial, Sans-serif;
}
h3{
 margin-top: 60px;
}
input{
  font-size:1.2rem ;
  width: 100%;
  color: gray;
}
.card-grid{
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  

 

}
.card{
  align-content: center;
  border: 1px solid gray;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom:10px ;
  margin-right: 10px;

}
.card p{
  padding :8px;
  text-align:left;

}
.card h3{
  padding :8px;
  text-align:center;

}
.ml-20{
  margin-left: 20px;
}